.card {

    margin-top: 10px;

    background-color: white;

    width: 200px;

    min-height: 200px;

    border-radius: 8px;

    display: flex;

    justify-content: space-evenly;

    align-items: flex-start;

    flex-direction: column;
    padding-left: 20px;

}